body {
  background: #B3B3B3;
  font-size: 125%;
  margin: 2%;
}

header {
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: #666666;
  background: #00B7EA;
}

nav {
  font-size: 150%;
  font-family: Arial, "Times New Roman", serif;
  box-sizing: border-box;
  padding: 1.5%;
}

nav a{
  background: #ffffff;
  padding: 1px 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 23%;
  overflow: hidden;
}

a {
  color: #551A8B;
}

section {
  border-style: hidden;
  box-sizing: border-box;
  display: inline-block;
  padding: 3px;
  margin-top: 5px;
  text-align: center;
}

#One{
  width: 49%;
  float: left;
  margin-right: 1%;
}

#Two{
  width: 49%;
  float: right;
  margin-left: 1%;
}

#Three{
  clear: both;
  display: block;
  margin-bottom: 70px;
}

details {
  font-style: italic;
}

summary {
  font-style: normal;
}

img {
  width: 65px;
}

footer {
  float: bottom;
  clear: both;
  padding: 7px;
}

.outer {
  background: #00B7EA;
  background: -webkit-linear-gradient(top, rgb(97, 155, 255), rgb(192, 166, 249));
  background: -moz-linear-gradient(top, rgb(39, 39, 70), rgb(192, 166, 249));
  background: -o-linear-gradient(top, rgb(39, 39, 70), rgb(192, 166, 249));
  background: linear-gradient(top, rgb(39, 39, 70), rgb(192, 166, 249));
}
